Makefile
.UNISON*
build
.ropeproject
__pycache__
*.pyc
html.py
*.log
*.bak
*.tre
*.db
gmon.out
*.so
*.ng
.depend*
*-user.txt
ftest.org
*.rpt.bz2
test_todo
.projectile
GPATH
GRTAGS
GTAGS
ID
clusters-*.txt
*.id
*.tmp
badcurve
key_shift_*.ks
*.lock
*.db.orig
*.updated
ngrams-*.rpt
.cache
wordstats-*.rpt
